.slider-handle {
  z-index: 1001;
  position: absolute;
  top: -8px;

  width: 14px;
  height: 20px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  cursor: ew-resize;
  touch-action: none;

  &.smooth-position-transition {
    transition: left 0.3s ease-out
  }

  &:after {
    position: absolute;

    top: 27%;
    left: 30%;

    width: 40%;
    height: 46%;

    content: '';
    background: linear-gradient(
                    to right,
                    #919191 20%,
                    white 20% 40%,
                    #919191 40% 60%,
                    white 60% 80%,
                    #919191 80%
    );
  }
}