html {
  margin: 0;
  padding: 0;

  font-size: 62.5%;

  .app-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50vw;
    margin: 40px;

    .time-range-slider {
      margin-top: 100px;
    }
  }
}
