html {
  font-size: 62.5%
}

body {
  margin: 0;
  padding: 0;

  .app-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 54vw;
    padding: 10px 40px;

    .app-link-container {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem;

      background-color: rgba(211, 211, 211, 0.2);
      border-radius: 10px;
      text-decoration: none;

      .github-icon {
        width: 80px;
        height: 80px;

        margin-right: 2rem;
      }

      .title {
        color: #282828;
        font-family: Roboto, sans-serif;
        font-size: 2.8rem;
        font-weight: 800;
      }
    }

    .usage-examples {
      padding: 5px 10px;

      .category-examples-container {
        margin-top: 20px;

        .range-slider {
          margin-left: 20px;
          margin-bottom: 40px;
        }

        .range-slider + .range-slider {
          margin-top: 80px;
        }

        .sub-title {
          margin: 0;

          color: #212121;
          font-family: Roboto, sans-serif;
          font-size: 2.3rem;
          font-weight: 700;
        }
      }
    }
  }
}
