.selected-range {
  position: absolute;
  z-index: 1;

  height: 6px;
  border: 1px solid #e7c100;
  border-right: none;

  background-color: rgba(255, 222, 65, 0.4);
  touch-action: none;

  &.smooth-position-transition {
    transition: left 0.3s ease-out, width 0.3s ease-out
  }
}